{
    "openapi": "3.0.0",
    "info": {
        "title": "kasrchem System",
        "description": "kasrchem API Documentation",
        "contact": {
            "email": "admin@kasrchem.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend.kasrchem.murabba.dev/api",
            "description": "API Server"
        }
    ],
    "paths": {
        "/branches": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "Get list of Branches",
                "description": "Returns  list of Branches",
                "operationId": "Get list of Branches",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/setting": {
            "get": {
                "tags": [
                    "Setting"
                ],
                "summary": "Get site setting information",
                "operationId": "Get site setting information",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/contact": {
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "Contact Message Endpoint",
                "description": "Send Message",
                "operationId": "send_message",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "message",
                                    "token"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Sender Name",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Sender Email",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Sender Phone",
                                        "type": "string"
                                    },
                                    "token": {
                                        "description": "Form Token",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "Message Content",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "Mail not send"
                    }
                }
            }
        },
        "/photos_galleries": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Photos Galleries",
                "operationId": "Get list of Photos Galleries",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/photos_galleries/{id}": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Show Gallery Data",
                "operationId": "show_gallery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Gallery ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/latest_galleries": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Latest gallery limit 15",
                "operationId": "Get list of Latest gallery limit 15",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/latest_releases": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Latest releases limit 15",
                "operationId": "Get list of Latest releases limit 15",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/latest_posts": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Latest posts limit 15",
                "operationId": "Get list of Latest posts limit 15",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/latest_videos": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Latest videos limit 15",
                "operationId": "Get list of Latest videos limit 15",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/latest_products": {
            "get": {
                "tags": [
                    "Web APIs"
                ],
                "summary": "Get list of Latest Products",
                "operationId": "Get list of Latest Products",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/media": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Media",
                "operationId": "getMediaList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/pages": {
            "get": {
                "tags": [
                    "pages"
                ],
                "summary": "Get list of Pages",
                "description": "Returns list of Pages",
                "operationId": "Get list of Pages",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/page/{id}": {
            "get": {
                "tags": [
                    "pages"
                ],
                "summary": "Get page data",
                "description": "Returns page data",
                "operationId": "getPagedata",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Page ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/partners": {
            "get": {
                "tags": [
                    "Partners"
                ],
                "summary": "Get list of Partners",
                "description": "Returns list of Partners",
                "operationId": "Get list of Partners",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of posts",
                "operationId": "getPostsList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/posts/{id}": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Show Post Data",
                "operationId": "show_post",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Post ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get list of Products",
                "operationId": "Get list of Products",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/products/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Show product Data",
                "operationId": "show_products",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "product ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },       "/suppliers": {
            "get": {
                "tags": [
                    "suppliers"
                ],
                "summary": "Get list of suppliers",
                "description": "Returns list of suppliers",
                "operationId": "getsuppliersList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/related_products/{id}": {
            "get": {
                "tags": [
                    "Web APIs"
                ],
                "summary": "Get list of Related Products",
                "operationId": "Get list of Related Products",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Supplier ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get Search Data",
                "operationId": "get_search_data",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search Word",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "tags": [
                    "Sections"
                ],
                "summary": "Get list of sections",
                "description": "Returns list of sections",
                "operationId": "getSectionsList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/sections/{id}": {
            "get": {
                "tags": [
                    "Sections"
                ],
                "summary": "Get Section childs",
                "description": "Returns Section childs",
                "operationId": "getsubsection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "section ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/videos": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of videos",
                "operationId": "getVideosList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/releases": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of Releases",
                "operationId": "Get list of Releases",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/release_section": {
            "get": {
                "tags": [
                    "Multimedia"
                ],
                "summary": "Get list of sections with release",
                "description": "Returns list of sections with release",
                "operationId": "getReleasList",
                "parameters": [
                    {
                        "name": "locale",
                        "in": "header",
                        "description": "App Locale",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "ar",
                            "enum": [
                                "ar",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/sliders": {
            "get": {
                "tags": [
                    "sliders"
                ],
                "summary": "Get list of sliders",
                "description": "Returns list of sliders",
                "operationId": "getslidersList",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        },
        "/social_links": {
            "get": {
                "tags": [
                    "Social Links"
                ],
                "summary": "Get Social Links",
                "description": "Returns  Social Links",
                "operationId": "Get Social Links",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "apiKey",
                "description": "Pass Bearer Token",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}