/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
error_log
viewmurabba_trainingeradico_dataonly.sql
viewmurabba_trainingeradico_full.sql
